$color-kt: #F6E0F3;
$color-rl: #C8F69B;
$color-ts: #B3EEFF;
$color-db: #FFEEA5;
$color-vd: #C99689;

//Name: Pink Lace
//Hex: #F6E0F3
//RGB: (246, 224, 243)
//CMYK: 0, 0.089, 0.012, 0.035

//Name: Rosy Brown
//Hex: #C99689
//RGB: (201, 150, 137)
//CMYK: 0, 0.253, 0.318, 0.211

//Name: Menthol
//Hex: #C8F69B
//RGB: (200, 246, 155)
//CMYK: 0.186, 0, 0.369, 0.035

//Name: Medium Champagne
//Hex: #FFEEA5
//RGB: (255, 238, 165)
//CMYK: 0, 0.066, 0.352, 0


//Name: Melon
//Hex: #FFB1AF
//RGB: (255, 177, 175)
//CMYK: 0, 0.305, 0.313, 0

//Name: Diamond
//Hex: #B3EEFF
//RGB: (179, 238, 255)
//CMYK: 0.298, 0.066, 0, 0

.kt-linear-background {
  background: linear-gradient(90deg, rgba(246, 224, 243,1) 0%, rgba(255,255,255,1) 2%);
}
.rl-linear-background {
  background: linear-gradient(90deg, rgba(200, 246, 155,1) 0%, rgba(255,255,255,1) 2%);
}
.ts-linear-background {
  background: linear-gradient(90deg, rgba(179, 238, 255,1) 0%, rgba(255,255,255,1) 2%);
}
.bd-linear-background {
  background: linear-gradient(90deg, rgba(255, 238, 165,1) 0%, rgba(255,255,255,1) 2%);
}
.vd-linear-background {
  background: linear-gradient(90deg, rgba(201, 150, 137,1) 0%, rgba(255,255,255,1) 2%);
}
